.py-base {
    padding-block: var(--py-base);
    /* Padding do eixo y */
}

.py-lg {
    padding-block: var(--py-lg);
    /* Padding do eixo y */
}

.py-xl {
    padding-block: var(--py-xl);
    /* Padding do eixo y */
}

.px-lg {
    padding-inline: var(--px-lg);
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
    border: solid violet;
}

.desktop-only {
    display: none;
    /* Estamos no mobile first por isso primeiro mobile */
}

.even-columns {
    /* Colunas constantes */
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}

@media (width >= 80em) {
    .container {
        --max-width: 80rem; 
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        /* Estrategia muito boa para elementos que ficam ao lado do outro no desktop e um em baixo do outro no mobile */
        /* Parecido com flex */
    }
}